<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= link_to @article.link, @article.link, target: "_new" %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
